{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
  <div class="container">
    <h1>Edit Article</h1>

    {{ include('article_dashboard/_form.html.twig', {'button_label': 'Update'}) }}

  </div>
{% endblock %}
