{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <div class="container mt-5">

        <h1>Interface d'administration</h1>

        <div class="row mt-5">
            <div class="col-4"> <a href="{{path('user_dashboard_index')}}"> <div class="btn btn-primary btn-lg mb-5">  Utilisateurs </div> </a> </div>
            <div class="col-4"> <a href="{{path('quotes_dashboard_index')}}"> <div class="btn btn-primary btn-lg mb-5"> Phrases </div> </a> </div>
            <div class="col-4"> <a href="{{path('article_dashboard_index')}}"> <div class="btn btn-primary btn-lg">  Articles </div> </a> </div>
        </div>
    </div>



{% endblock %}
