{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <div class="container mt-5">

        <h1>Interface d'administration</h1>

        <div class="d-grid gap-2 mt-5">
            <button class="btn btn-primary mb-5" type="button"> <a href=""> Utilisateurs </a></button>
            <button class="btn btn-primary" type="button"> <a href=""> Phrases </a></button>
            *<button class="btn btn-primary" type="button"> <a href=""> Articles </a></button>
        </div>
    </div>



{% endblock %}
